<div class=" card-body bg-dark text-white" style="min-height: 550px;">

    <% if (courses.length){ %>
        <div class="my-3">
            <h5 class="font-weight-bold border-bottom border-info cursor-pointer" data-toggle="collapse" data-target="#courseListsOwned">Created Classes</h5>
        </div>
        <div class="card-body my-1 collapse" id="courseListsOwned">
        
        <% for(let course of courses.reverse()){ %>
            <div class="row pb-1 border-bottom border-info rounded-bottom">
                <div class="col-md-8">
                    <%= course.title %> - <%= course.batch %>
                </div>
                <div class="col-md-2">
                    <a 
                        class = "text-white text-center" title="Details"
                        href="/courses/take-attendance/<%= course._id %>"
                    >
                        <i class="fas fa-eye pl-3"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a 
                        class = "text-white text-center" title="Edit"
                        href="/courses/edit-course/<%= course._id %>"
                    >
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
        <% } %>
        </div>
    <% } %>
    
    <% if (myJoinedClass.length){ %>
        <div>
            <h5 class="font-weight-bold border-bottom border-info cursor-pointer" data-toggle="collapse" data-target="#courseLists">Joined Classes</h5>
          <!--   <img src="images/download.png" width="30px" height="20px"> -->
        </div>
        <div class="card-body my-1 collapse" id="courseLists">
        
        <% for(let course of myJoinedClass.reverse()){ %>
            <div class="row pb-1 border-bottom border-info rounded-bottom">
                <div class="col-md-8">
                    <%= course.title %> - <%= course.batch %>
                </div>
                <div class="col-md-4">
                    <a class = "text-white" href="/courses/take-attendances/<%= course._id %>">
                        <i class="fas fa-eye pl-3"></i>
                    </a>
                </div>
            </div>
        <% } %>
        </div>
    <% } %>    
    
     
</div>