<div class="col-md-12 bg-white rounded shadow mt-2">
    <h4 class="text-center"><u>Your Attendance List</u></h4>
    <table class="table table-hover" id="table">
        <thead class="table-active">
            <tr>
                <th scope="col">Id \ Date</th>
                <th scope="col">Percentage</th>
                <% for( let val of attendances[0].value) { %>
                    <th scope="col">
                        <%= val.day%>
                    </th>
                <% } %>
                <% if (!add) { %>
                    <th scope="col">
                        <form action="/courses/attendances/add/<%= course._id %>" method="POST">
                            <button
                                type="submit" value="add" name="action"
                                class="btn btn-link"
                            >
                                <i class="fas fa-plus-circle fa-lg"></i>
                            </button>
                        </form>
                    </th>
                <% } %> 
            </tr>
        </thead>
        <tbody>
            <% for( let attend of attendances) { %>
                <%#= attend.value[0].isPresent %> 
                <tr>
                    <th scope="row">
                        <a href="/dashboard/profile/<%= attend.userId%>"
                            title= "Present: <%= attend.value[attend.value.length-1].present %>,
                            Absent: <%= attend.value[attend.value.length-1].absent %>" 
                        >
                            <%= attend.userId ? attend.userId : "" %>
                        </a>
                    </th>
                    <% for (let i = 0; i < attend.value.length; i++) { %>
                        <%#= attend.value[attend.value.length - 1].percentage %> 
                        <% if ( !i) { %>
                            <td>
                                <%= attend.value[attend.value.length - 1].percentage %> % 
                            </td>
                        <% } else {%>
                            <td>
                                <!-- for checkbox -->
                                <div class="form-check">
                                    <input 
                                        class="attedanceCheck form-check-input" type="checkbox"
                                        value="" id="flexCheckDefault"
                                        onclick = getValue(this)
                                        <%= attend.value[i].isPresent ? "checked" : "" %>
                                    >
                                </div>
                            </td>
                        <% } %>
                    <% } %>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>

<script>

let value = [];
function getValue(inputTag) {
    //console.log(tr);

    let td = inputTag.parentElement.parentElement
    let tr = td.parentElement;

    let rowIdx = tr.rowIndex;
    let colIdx = td.cellIndex;

    let userName = tr.cells[0].innerText.trim();

    let table = document.getElementById('table');
    let colName = table.rows[0].cells[colIdx].innerHTML.trim();

    let isChecked = inputTag.checked

/*     console.log("Date: ", colName)
    console.log("Username: ", username);
    // console.log("Cell : " + rowIdx, colIdx);
    console.log("Ischecked: ", isChecked); */
    let flag = true;
    for(let [ind, val] of value.entries()){
        if( (val.userName === userName) && (val.colName === colName)){
            value[ind].isChecked = isChecked;
            flag = false;
            break;
        }
    }

    if(flag){ 
        value.push({
            userName,
            colName,
            isChecked
        });
    }
}

async function GetCellValues(courseId) {
    // console.log("values", value);

    let url = `http://localhost:3000/courses/attendances/update/${courseId}`;
    
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(value),
        })
        .then(response => response)
        .then( data => {
            setTimeout(() => {
                // loacation.reload();
                // update success toast
                Toastify({
                    text: "Update success!",
                    duration: 2000,
                }).showToast();
            }, 100);
        })
        .catch( error => {
            console.log("error: ", error);
            setTimeout(() => {
                // location.reload();
                // update failure toast
                Toastify({
                    text: "error occured",
                    duration: 2000,
                }).showToast();
            }, 100);
        });
    
}
</script>
