<%- include('../../../partials/header.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 my-5">
                <div class="card card-body mx-5">
                <h4 class="text-center mb-4">Create Course To Your Attendance List</h4>
                    <form action="/courses/create" method="POST">
                        <div class="form-group mb-3">
                          <input
                            type="text"
                            name="title"
                            class="form-control <%= error.title ? "is-invalid" : "" %>"
                            id="courseTitle"
                            placeholder="Course title"
                            value = "<%= value.title ? value.title : "" %>" 
                        >
                            <div class="invalid-feedback">
                                <%= error.title %>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                          <input
                            type="text"
                            name="code"
                            class="form-control <%= error.code ? "is-invalid" : "" %>"
                            id="courseCode"
                            placeholder="Course Code"
                            value = "<%= value.code ? value.code : "" %>" 
                           >
                           <div class="invalid-feedback">
                                <%= error.code %>
                           </div>
                        </div>
                        <div class="form-group mb-3">
                          <input
                            type="text"
                            name="batch"
                            class="form-control <%= error.batch ? "is-invalid" : "" %>"
                            id="batch"
                            placeholder="Batch (with section)"
                            value = "<%= value.batch ? value.batch : "" %>" 
                           >
                           <div class="invalid-feedback">
                                <%= error.batch %>
                           </div>
                        </div>
                        <div class="form-group mb-3">
                          <input
                            type="text"
                            name="term"
                            class="form-control <%= error.term ? "is-invalid" : "" %>"
                            id="term"
                            placeholder="Term e.g. Spring 2021"
                            value = "<%= value.term ? value.term : "" %>" 
                           >
                           <div class="invalid-feedback">
                                <%= error.term %>
                           </div>
                        </div>
                        <div class="form-group mb-3">
                            <input
                                type="submit"
                                value="Create"
                                class="btn btn-primary btn-sm my-2"
                            >
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../../partials/footer.ejs") %>

    </body>

</html>