<%- include('../../../partials/header.ejs') %>

    <div class="row mb-2">
        <div class="col-lg-5 d-flex text-white">
            <div class="col-lg-5">
                <h6 class="text-white py-2 text-center" style="border-radius: 5px; background-color: #192a3d;">
                    <%= course.title %> - <%= course.batch %>
                </h6>
            </div>
            <div class="col-lg-3">
                <h6 class="text-white py-2 text-center" style="border-radius: 5px; background-color: #192a3d;">
                    <%= course.term %>
                </h6>
            </div>
            <div class="col-lg-4">
                <h6 class="text-white py-2 text-center" style="border-radius: 5px; background-color: #192a3d;">
                    Join Code: <%= course.joiningCode %>
                </h6>
            </div>
        </div>

        <div class="col-lg-7 d-flex">
            <div class="col-lg-3">
                <!-- <#% if (owner) { %>
                    <form action="/courses/take-attendance/<#%= course._id %>" method="POST">
                        <button 
                            type="submit" value="takeAttendance"
                            class="btn btn-primary btn-sm"
                            name="action"
                            <#%=attendances.length ? "" : "disabled" %>
                        >
                            Take Attendance
                        </button>
                    </form>
                <#% } %> -->
            </div>
            
            <% if (attendances.length && owner) { %>
                <div class="col-lg-9">
                    <form action="/courses/attendances/search/<%= course._id %>" method="POST">
                        <div class="form-group">
                            <input
                                type="text" name="userId" id="userId"
                                class="text-center form"
                                placeholder="Enter student ID"
                            >
                            <input
                                type="date" name="date"
                            >
                            <button
                                type="submit" value="Search"
                                class="btn btn-primary btn-sm"
                                name="action"
                            >
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="card card-body mx-3">
            <div class="row">
                <% if (attendances.length) { %>
                    <%- include("./attendanceTable.ejs") %>
                    <% if (owner) { %>
                        <!-- <form action="/courses/attendances/update/<%#= course._id %>" method="POST"> -->
                        <!-- <form> -->
                            <button type="submit" value="update" style="width: 80px;"
                                class="btn btn-primary btn-sm my-2"
                                onclick="GetCellValues('<%= attendances[0].course%>')">
                                update
                            </button>
                        <!-- </form> -->

                        <form action="/courses/attendances/export/<%= course._id %>">
                            <% if (owner && attendances.length) { %>
                                <button type="submit" value="Export" style="width: 80px;"
                                    class="btn btn-primary btn-sm my-2 ml-2"
                                >
                                    Export
                                </button>
                            <% } %>
                        </form>
                    <% } %>
                <% } else { %>
                    <div class="container text-center">
                        <h1>No one joined in this course !</h1>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include("../../../partials/footer.ejs") %>

    </body>

</html>