<%- include("../partials/header.ejs") %>

    <div class="container mb-2">
        <div class="row mb-3 p-3">
            <div class="col-md-12">
                <h1 class="text-center my-3 ">Contact Us</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minima hic possimus officiis a dolorem
                    consequuntur iure doloribus! Architecto est repudiandae ex excepturi saepe culpa ut distinctio suscipit
                    voluptatum et?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row mt-5 ml-3">
                    <div class="icon mr-3">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="text mt-3">
                        <h5>
                            Block C, Bashundhara R/A <br>
                            Dhaka
                        </h5>
                    </div>
                </div>
                <div class="row mt-2 ml-3">
                    <div class="icon mr-3">
                        <i class="fas fa-mobile"></i>
                    </div>
                    <div class="text mt-4">
                        <h5>01521117202</h5>
                    </div>
                </div>
                <div class="row mt-3 ml-3">
                    <div class="icon mr-3">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text mt-4">
                        <h5>marzuk777@gmail.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body mt-4">
                    <form action="/contact-us" method="POST">
                        <div class="form-group m-3">
                            <input 
                                type="name"
                                name="name"
                                id="name"
                                class="form-control 
                                <%= error.name ? "is-invalid" : "" %>"
                                value="<%= values.name? values.name:"" %>"
                                placeholder="Enter Your Name"
                            >
                        </div>
                        <div class="form-group m-3">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                class="form-control <%= error.email ? "is-invalid":"" %>"
                                value="<%= values.email? values.email:"" %>"
                                placeholder="Enter Your Email"
                            >
                        </div>
                        <div class="form-group m-3">
                            
                            <textarea
                                name="message"
                                id="message"
                                class="form-control <%= error.message ? 'is-invalid' : ''
                                %> "><%= values.message ? values.message : "" %></textarea>
                            <div class="invalid-feedback">
                               <%= error.message %> 
                            </div>   
                        </div>
                        <div class="form-group  m-3">
                            <input type="submit" class="btn btn-primary form-group" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>

    </body>

</html>